:root {
	--orange-color: #ff7e38;
	--blue-color: #1e9ac7;
	--black-color: #333;
}

html {
	font-size: 24px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #333;
}

h1, h2 {
	font-family: 'Josefin Slab', serif;
	font-weight: 500;
}

p {
	font-size: 1rem;
}
a {
	color: var(--black-color);
}
a:hover {
	color: var(--orange-color);
	cursor: pointer;
}

.cover {
	background-image:url(../img/cover.jpg);
	background-repeat:no-repeat;
    background-size:cover;
    background-position: center bottom;
}
.cover img.brand {
	max-width: 100px;
	min-width: 60px;
	width: 100%;
	object-fit: contain;
}

.cover .row {
	margin-left: 8%;
	margin-right: 8%;
}

.cover h1 {
	font-weight: 600;
} 

.cover h3 {
	font-weight: 300;
}

.form-newsletter {
	background-color: gray;
	position: absolute;
	right: 40px;
	top: 30vh;
	padding: 8px 16px;

	border-radius: 4px;
	background-color: orange;
	color: white;

}

.form-newsletter p {
	font-size: 0.6rem;
}

.card {
	margin: 20px; 
	min-height: 320px;
	padding: 24px;
	border-radius: 4px;
	border: 1px solid var(--orange-color);
	
	display: flex;
	flex-flow: column wrap;
}

.card .title {
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
	/*
	font-size: 1.5rem;
	line-height: 1;
	*/
}

.card .subtitle {
	flex-grow: 1;
	font-weight: 300;
	/*
	font-size: 0.8rem;
	line-height: 1;
	*/
	color: #666;
}

.card .author p {
	font-size: 0.6rem !important;
	line-height: 1;
	margin-bottom: 8px;
}
.author {
	display: flex;
	align-content: center;

	font-weight: 300;
	color: gray;
}
.author img {
	width: 48px;
	height: 48px;
	border-radius: 28px;
	margin-right: 8px;
}

footer {
	margin-top: 15vh;
	background-color: #1e9ac7;
	height: 120px;
	width: 100%;
}

