<html>
{% load staticfiles %}

<head>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

     fbq('init', '394589040956855'); 
    fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=394589040956855&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


<!-- Global Site Tag (gtag.js) - Google Analytics -->                           
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106651446-1"></script>
<script>                                                                        
  window.dataLayer = window.dataLayer || [];                                    
  function gtag(){dataLayer.push(arguments)};                                   
  gtag('js', new Date());                                                       
                                                                                
  gtag('config', 'UA-106651446-1');                                             
</script>                                                                        
                                                                                
                                                                                
<script>                                                                        
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                                                                                
  ga('create', 'UA-106651446-1', 'auto');                                       
  ga('send', 'pageview');                                                       
                                                                                
</script> 


	<!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Estudo de Caso: Como a Nike e a Adidas usaram o poder dos aplicativos para se aproximar de seus clientes</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon_16x16.png' %}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{% static 'img/favicon_32x32.png' %}" sizes="32x32" />


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="Leia o estudo de caso que a Mobile Growth preparou sobre como a Nike e a Adidas vêm encantando e se relacionando com seus cliente através de aplicativos" />

    <meta property="og:url" content="http://mobilegrowth.com.br{% url 'lp_caseadidasnike' %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Estudo de Caso: Como a Nike e a Adidas usaram o poder dos aplicativos para se aproximar de seus clientes" />
    <meta property="og:description" content="Leia o estudo de caso que a Mobile Growth preparou sobre como a Nike e a Adidas vêm encantando e se relacionando com seus cliente através de aplicativos" />
    <meta property="og:image" content="http://mobilegrowth.com.br{% static 'img/p05-nike-snkrs01.jpg' %}" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://mobilegrowth.com.br{% url 'lp_caseadidasnike' %}">
    <meta name="twitter:title" content="Estudo de Caso: Como a Nike e a Adidas usaram o poder dos aplicativos para se aproximar de seus clientes">
    <meta name="twitter:description" content="Leia o estudo de caso que a Mobile Growth preparou sobre como a Nike e a Adidas vêm encantando e se relacionando com seus cliente através de aplicativos">
    <meta name="twitter:image" content="http://mobilegrowth.com.br{% static 'img/p05-nike-snkrs01.jpg' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i" rel="stylesheet">

    <script src="{% static 'js/main.js' %}"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body class="landing-page">
	<header class="cover">
		<div class="row">
			
				<img class="brand img-responsive" src="{% static 'img/brand.png' %}" />

				<h1>Mobile Growth</h1>
			
 		</div>
	</header>
	<main>
		<div class="container">	
			<div class="row">
				<div class="col-md-8 col-sm-7">
					<h2 class="asset-title">Estudo de Caso: Como a Nike e a Adidas usaram o poder dos aplicativos para se aproximar de seus clientes</h2>

					<p>Mobile apps são ferramentas poderosas na criação de um canal direto de comunicação e relacionamento entre uma empresa e seus clientes e grandes <i>players</i> do mercado mundial estão aproveitando a popularização dos <i>smatphones</i> para engajar cada vez mais o seu público.</p>

					<p>A previsão é que em 2018 o número de smartphones supere o número de habitantes no Brasil, chegando ao impressionante número de 236 milhões de aparelhos.</p>

					<p>Acesse e leia o estudo de caso que fizemos analisando como a Nike e a Adidas vêm encantando e se relacionando com seus cliente através de aplicativos. Basta preencher o formulário <span class="hidden-xs">ao lado</span><span class="hidden-sm hidden-md hidden-lg">abaixo</span>. Boa leitura!</p>
				</div>
				<div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-4 form-newsletter">
					<form method="post">
          {% csrf_token %}
						<div>
							<p class="title">Preencha os dados abaixo para baixar o material</p>

							<div>
								<label for="id_first_name">Nome</label>
								<input class="form-control" type="text" name="first_name" required id="id_first_name" maxlength="100" />
							</div>
							<div >
								<label for="id_last_name">Sobrenome</label>
								<input class="form-control" type="text" name="last_name" required id="id_last_name" maxlength="100" />
							</div>
							<div >
								<label for="id_email">E-mail</label>
								<input class="form-control" type="email" name="email" required id="id_email" maxlength="254" data-toggle="tooltip" data-placement="top" title="Temos conteúdo exclusivo para empresas, cadastre-se com seu e-mail corporativo (nome@empresa.com.br) para receber conteúdo exclusivo" />
							</div>
							<div >
								<input style="margin-top: 20px;" class="btn btn-default btn-primary center-block" type="submit" value="Acessar Estudo de Caso" />
							</div>
							<p class="help-msg">Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer >
		<div class="container">
			
			<div class="row copyright">
				<p>Mobile Growth Blog. Todos os direito reservados. Setembro, 2017.</p>
			</div>
		</div>
	</footer>
</body>

</html>
