<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106651446-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106651446-1');
</script>                                                                        


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106651446-1', 'auto');
  ga('send', 'pageview');

</script>

    <title>Mobile Growth: Tudo sobre mobile apps para o seu negócio</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon_16x16.png' %}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{% static 'img/favicon_32x32.png' %}" sizes="32x32" />


	<!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <meta name="description" content="Tudo sobre mobile apps para o seu negócio" />

    <meta property="og:url" content="http://mobilegrowth.com.br{% url 'main' %}" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="Mobile Growth" />
    <meta property="og:description" content="Tudo sobre mobile apps para o seu negócio" />
    <meta property="og:image" content="{% static 'img/brand.png' %}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://mobilegrowth.com.br{% url 'main' %}">
    <meta name="twitter:title" content="Mobile Growth">
    <meta name="twitter:description" content="Tudo sobre mobile apps para o seu negócio">
    <meta name="twitter:image" content="{% static 'img/brand.png' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i" rel="stylesheet">

    <script src="{% static 'js/main.js' %}"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
	<header class="jumbotron cover">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<a href="{% url 'main' %}"><img class="brand img-responsive" src="{% static 'img/brand.png' %}" /></a>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-12" style="margin: initial 20px;">
				<h1>Mobile Growth</h1>
				<h3>Tudo sobre mobile apps para o seu negócio</h3>
			</div>	
 		</div>
	</header>
	<main class="home">
		<!--
		<div class="col-md-2 col-sm-3 hidden-xs form-newsletter form-newsletter--side">
			<p>Receba as novidades sobre negócios e tecnologias mobile</p>
			
		</div>
	-->
		<div class="container">
			
			<div class="row">
				<div class="col-md-10 col-sm-9">
					<article class="card">
						<a href="{% url 'lp_info' %}"><h2 class="title">Infográfico: uso de dispositivo móvel e usuários de apps</h2></a>
						<h4 class="subtitle">Quer saber qual é a taxa de conversão em campanhas realizadas por meio de aplicativos? Acesse o infográfico para saber mais!</h4>

						<div class="author">
							<img src="{% static 'img/glauberty.jpg' %}" class="pic-profile" />
							<div>
								<p>Glauberty Blum</p>
								<p>Setembro 20, 2017</p>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-5 col-sm-9">
					<article class="card">
						<a href="{% url 'whatsapp4business' %}"><h2 class="title">WhatsApp para empresas: conectando negócios e consumidores</h2></a>
						<h4 class="subtitle">Conheça o aplicativo que ainda está em fase de testes</h4>

						<div class="author">
							<img src="{% static 'img/lia.jpg' %}" class="pic-profile" />
							<div>
								<p>Lia de Castilhos Negri</p>
								<p>Setembro 19, 2017</p>
							</div>
						</div>
					</article>
				</div>

			
				<div class="col-md-5 col-sm-9">
					<article class="card">
						<a href="{% url 'fivereasons' %}"><h2 class="title">Cinco motivos para sua empresa apostar em um APP</h2></a>
						<h4 class="subtitle">Descubra o que tem levado as empresas a investirem em aplicativos para <i>smartphones</i></h4>

						<div class="author">
							<img src="{% static 'img/lia.jpg' %}" class="pic-profile" />
							<div>
								<p>Lia de Castilhos Negri</p>
								<p>Setembro 19, 2017</p>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-5 col-sm-9">
					<article class="card">
						<a href="{% url 'considerations' %}"><h2 class="title">O que considerar em um APP para o seu negócio</h2></a>
						<h4 class="subtitle">Na hora de pensar em um APP é preciso entender quais os seus objetivos e como alcançar o seu cliente</h4>

						<div class="author">
							<img src="{% static 'img/mel.jpg' %}" class="pic-profile" />
							<div>
								<p>Mel Morales</p>
								<p>Setembro 19, 2017</p>
							</div>
						</div>
					</article>
				</div>
			</div>
			<p>&nbsp;</p>
			<div class="row">
				<form  method="post">
          {% csrf_token %}
					<div class="container">
						<div class="col-md-offset-1 col-md-8 col-sm-12 container form-newsletter">
							<p>Quer receber dicas e materiais educativos sobre o impacto de mobile apps no seu negócio? Informe seu e-mail abaixo!</p>

							<div class="col-md-6 col-sm-6">
								<label for="id_first_name">Nome</label>
								<input class="form-control" type="text" name="first_name" required id="id_first_name" maxlength="100" />
							</div>
							<div class="col-md-6 col-sm-6">
								<label for="id_last_name">Sobrenome</label>
								<input class="form-control" type="text" name="last_name" required id="id_last_name" maxlength="100" />
							</div>
							<div class="col-md-12 col-sm-12">
								<label for="id_email">E-mail</label>
								<input class="form-control" type="email" name="email" required id="id_email" maxlength="254" />
							</div>
							<div class="col-md-12 col-sm-12">
								<input style="margin-top: 20px;" class="btn btn-default btn-primary pull-right" type="submit" value="Inscreva-se!" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
	</main>
	<footer >
		<div class="container">
			<div class="row">
				
				<a class="share-btn fb-share-button" alt="Visite Mobile Growth no Facebook" href="https://www.facebook.com/mobilegrowth.com.br/" target="_blank"><img src="{% static 'img/FB-f-Logo_white_72.png' %}" alt="Visite o blog Mobile Growth no Facebook" /></a>
				
			</div>
			<p>&nbsp;</p>
			<div class="row copyright">
				<p>Mobile Growth Blog. Todos os direito reservados. Setembro, 2017.</p>
			</div>
		</div>
	</footer>
</body>

</html>
