<html>
{% load staticfiles %}
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">

    <title>WhatsApp para empresas: conectando negócios e consumidores</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon_16x16.png' %}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{% static 'img/favicon_32x32.png' %}" sizes="32x32" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="O WhatsApp já era sucesso nas interações entre empresas e clientes, e agora com o aplicativo WhatsApp para empresas ele promete ser ainda mais assertivo nessas relações. Leia o post completo para saber as novidades." />

    <meta property="og:url" content="{% url 'whatsapp4business' %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="WhatsApp para empresas: conectando negócios e consumidores" />
    <meta property="og:description" content="O WhatsApp já era sucesso nas interações entre empresas e clientes, e agora com o aplicativo WhatsApp para empresas ele promete ser ainda mais assertivo nessas relações. Leia o post completo para saber as novidades." />
    <meta property="og:image" content="{% static 'img/p01_whatsapp_empresas.jpg' %}" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{% url 'whatsapp4business' %}">
    <meta name="twitter:title" content="WhatsApp para empresas: conectando negócios e consumidores">
    <meta name="twitter:description" content="O WhatsApp já era sucesso nas interações entre empresas e clientes, e agora com o aplicativo WhatsApp para empresas ele promete ser ainda mais assertivo nessas relações.">
    <meta name="twitter:image" content="{% static 'img/p01_whatsapp_empresas.jpg' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i" rel="stylesheet">

    <script src="{% static 'js/main.js' %}"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
	<header class="jumbotron cover">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<a href="{% url 'main' %}"><img class="brand img-responsive" src="{% static 'img/brand.png' %}" /></a>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-12" style="margin: initial 20px;">
				<h1>Mobile Growth</h1>
				<h3>Tudo sobre mobile apps para o seu negócio</h3>
			</div>	
 		</div>
	</header>
	<main class="post-page">
		<!--
		<div class="container hidden-xs form-newsletter--side">
			<form  method="post row">
				<div class="col-md-offset-9 col-md-3 col-sm-offset-9 col-sm-3 container form-newsletter">
					<p class="row">Inscreva-se na newsletter!</p>

					<input type='hidden' name='csrfmiddlewaretoken' value='WApBBlv7BUfSTtTwuZQHohAzsRY1184kvGRUDQVR8lNFMy5IBzvwHbBdKCK1SCLG' />

					<div class="row">
						<label for="id_first_name">Nome</label>
						<input class="form-control" type="text" name="first_name" required id="id_first_name" maxlength="100" />
					</div>
					<div class="row">
						<label for="id_last_name">Sobrenome</label>
						<input class="form-control" type="text" name="last_name" required id="id_last_name" maxlength="100" />
					</div>
					<div class="row">
						<label for="id_email">E-mail</label>
						<input class="form-control" type="email" name="email" required id="id_email" maxlength="254" />
					</div>
					<div class="row">
						<input style="margin-top: 20px;" class="btn btn-default btn-primary pull-right" type="submit" value="Inscreva-se!" />
					</div>
				</div>
			</form>
		</div>
		-->

		<div class="container">	
			<div class="row">
				<div class="col-md-8 col-sm-9">
					<img class="post-cover img-responsive" src="{% static 'img/p01_whatsapp_empresas.jpg' %}" alt="Ops! Falha no carregamento da imagem... Segue direto para o post então, pode ser? ;-)" />
					<!--
					<p class="img-caption">Crédito da foto: <a href="https://visualhunt.com/re/66237e" target="_blank">Visualhunt.com</a> </p>
					-->
				</div>

				<div class="col-md-8 col-sm-9 post-content">
					<h6 class="post-date">Setembro 19, 2017</h6>

					<h2 class="title post-title">WhatsApp para empresas: conectando negócios e consumidores</h2>
					<h4 class="subtitle post-subtitle">Conheça o aplicativo que ainda está em fase de testes</h4>

					<p>Antes mesmo de ter anunciada sua versão para empresas, o WhatsApp já era um importante canal de comunicação e de serviço de atendimento ao cliente utilizado em diversas empresas. No início desse mês, o WhatsApp anunciou em seu blog oficial que uma versão do aplicativo móvel voltada para os negócios está em fase de testes com um grupo de empresas selecionadas. Empresas em países europeus, Índia e Indonésia estão participando dos testes do APP. O Brasil também faz parte desse grupo de testes, através do Banco Itaú que disponibilizou a ferramenta para seus clientes Personnalité Digital, sua carteira de clientes de alta renda com contas digitais.</p>

					<p>A ideia do WhatsApp para empresas é que os consumidores conversem com estabelecimentos comerciais, independentemente se eles são PMEs locais ou gigantes multinacionais. De acordo com o chefe de operações do WhatsApp, Matt Idema, a companhia está entusiasmada em poder conectar pessoas à empresas de maneira rápida e pessoal.</p>

					<p>A versão empresarial do WhatsApp para empresas estará disponível em dois formatos:</p>

					<ul>
						<li>um APP chamado de WhatsApp Business com foco nas pequenas empresas</li>
						<li>um APP de formato enterprise, voltado para as companhias maiores, e que operam em larga escala, possuindo uma base global de clientes.</li>
					</ul>

					<p>O WhatsApp para empresas é o primeiro passo para que alguma receita seja obtida através do aplicativo, mas diferentemente dos outros produtos do grupo, o WhatsApp não deverá gerar dinheiro através de anúncios, a ideia é que alguns recursos do APP para empresas sejam pagos por elas. Os termos de uso e os planos ainda não foram finalizados, mas uma eventual chegada de anúncios não foi descartada.</p>

					<p>Um ponto importante para se destacar nesse aplicativo: as empresas não poderão sair entrando em contato com qualquer usuário. O contato somente poderá ser feito com clientes que tenham autorizado ser contatados pelos perfis das empresas. Dessa maneira, não se criará uma plataforma de spams.</p>

					<img class="img-responsive img-content center-block" src="{% static 'img/p01_selo_certificacao_whatsapp.jpg' %}" alt="Ops! Falha no carregamento da imagem... Continua lendo mesmo assim, tá? ;-)" />

					<p>A empresa também aposta em um selo de verificação para os perfis empresariais (imagem acima). Esse selo aparecerá ao lado do nome do contato na agenda do celular.</p>

					<p>A má notícia com relação ao WhatsApp para empresas: ainda não se tem uma data oficial para o lançamento, mas a ideia é que o aplicativo seja disponibilizado dentro de alguns meses.</p>

					<p>Continue nos acompanhando aqui no Blog, em breve estaremos trazendo mais novidades sobre aplicativos móveis.
					</p>

					<div class="post-share-bts">
						<p>Compartilhe</p>
						
						<a class="share-btn fb-share-button" title="Compartilhar no Facebook" data-mobile-iframe="true" data-href="{% url 'whatsapp4business' %}" href="https://www.facebook.com/sharer/sharer.php?u={% url 'whatsapp4business' %}&src=sdkpreparse" target="_blank"><img src="{% static 'img/FB-f-Logo_color_72.png' %}" alt="Compartilhar no Facebook" /></a>
						<!--
						<a class="share-btn fb-share-button" title="Compartilhe no Twitter" href="https://www.facebook.com/mobilegrowth.com.br/" target="_blank"><img src="img/FB-f-Logo_white_72.png" alt="Compartilhe no Twitter" /></a>
						-->
						<a class="share-btn share-btn-whatsapp" title="Compartilhar no WhatsApp" href="https://api.whatsapp.com/send?text=http%3A%2F%2Fwww.mobilegrowth.com.br%2Fwhatsapp-para-empresas-conectando-negocios-e-consumidores%2F"><img src="{% static 'img/WhatsApp_Logo-01_color.png' %}" alt="Compartilhar no WhatsApp" /></a>
						<!--
						<a class="share-btn fb-share-button" title="Compartilhe no LinkedIn" href="" target="_blank"><img src="img/FB-f-Logo_white_72.png" alt="Compartilhe no LinkedIn" /></a>
						-->
					</div>
				</div>

				<div class="col-md-8 col-sm-9">
					<div class="author">
						<img src="{% static 'img/lia.jpg' %}" class="pic-profile" />
						<div>
							<p>Lia de Castilhos Negri</p>
							<p>Setembro 19, 2017</p>
						</div>
					</div>
				</div>
			</div>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

			<div class="row">
				<form  method="post">
					<div class="container">
						<div class="col-md-8 col-sm-12 container form-newsletter">
							<p>Quer receber dicas e materiais educativos sobre o impacto de mobile apps no seu negócio? Informe seu e-mail abaixo!</p>

							<input type='hidden' name='csrfmiddlewaretoken' value='WApBBlv7BUfSTtTwuZQHohAzsRY1184kvGRUDQVR8lNFMy5IBzvwHbBdKCK1SCLG' />

							<div class="col-md-6 col-sm-6">
								<label for="id_first_name">Nome</label>
								<input class="form-control" type="text" name="first_name" required id="id_first_name" maxlength="100" />
							</div>
							<div class="col-md-6 col-sm-6">
								<label for="id_last_name">Sobrenome</label>
								<input class="form-control" type="text" name="last_name" required id="id_last_name" maxlength="100" />
							</div>
							<div class="col-md-12 col-sm-12">
								<label for="id_email">E-mail</label>
								<input class="form-control" type="email" name="email" required id="id_email" maxlength="254" />
							</div>
							<div class="col-md-12 col-sm-12">
								<input style="margin-top: 20px;" class="btn btn-default btn-primary pull-right" type="submit" value="Inscreva-se!" />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-9">
					<div class="post-references">
						<p>Fontes para a construção desse artigo:</p>
						<p><a href="http://exame.abril.com.br/tecnologia/o-whatsapp-para-empresas-vem-ai/" target="_blank">http://exame.abril.com.br/tecnologia/o-whatsapp-para-empresas-vem-ai/</a></p>
						<p>
						<a href="https://resultadosdigitais.com.br/blog/whatsapp-prepara-versao-empresarial/" target="_blank">https://resultadosdigitais.com.br/blog/whatsapp-prepara-versao-empresarial/</a></p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer >
		<div class="container">
			<div class="row">
				
				<a class="share-btn fb-share-button" alt="Visite Mobile Growth no Facebook" href="https://www.facebook.com/mobilegrowth.com.br/" target="_blank"><img src="{% static 'img/FB-f-Logo_white_72.png' %}" alt="Visite o blog Mobile Growth no Facebook" /></a>
				
			</div>
			<p>&nbsp;</p>
			<div class="row copyright">
				<p>Mobile Growth Blog. Todos os direito reservados. Setembro, 2017.</p>
			</div>
		</div>
	</footer>
</body>

</html>
